.show-load {
    position: relative;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,100%,.6);
    z-index: 999;
}

.show-load .loading {
    height: 100%;
    background: transparent;
	width: 100%;

    min-height: 10em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.show-load .loading span {
    width: 18px;
    height: 18px;
    background: #0089cf;
    border-radius: 50%;
    -webkit-animation: loading 1s infinite both;
    animation: loading 1s infinite both;
}
.loading span:nth-child(2) {
    margin: 0 5px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.loading span:nth-child(3) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

@keyframes loading{
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    
    100% {
        opacity: .2;
    }
}