.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.NavigationItems .Item{
    margin:0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}


.NavigationItems .Item a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
}


.NavigationItems .Item a:hover,
.NavigationItems .Item a:active,
.NavigationItems .Item a.active{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4c8;
    color: white;
}